
*{
  list-style-type: none;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;                  
  font-size: 16px;                                    
  color: #434455;                    
  background-color: #ffffff;         
}

a{
  text-decoration: none;
}

/* Header */

.logo {
 font-family: 'Raleway', sans-serif;
 font-weight: 700;
 font-size: 18px;
 line-height: 1.17;
 letter-spacing: 0.03em;
 text-transform: uppercase;
 color: #4d5ae5;
}

.logo .studio {
 color: #2e2f42;
}

.menu-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  
}
.menu-item:hover,
.menu-item:focus {
  color: #404bbf;
}
.contacts {
  font-style: normal;
}

.contacts-list{
font-size: 16px;
font-size: 16px;  
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}

.contacts-list:hover,
.contacts-list:focus {
color: #404bbf;
}

/* Section 1 Hero Banner */

.hero-banner{
background-color: #2e2f42;
}

.hero-banner-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.hero-banner-button {
  background-color: #4d5ae5;
  font-family: "Roboto",sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}

.hero-banner-button:hover,
.hero-banner-button:focus {
  background-color: #404BBF;
}

/* Section 2 Benefits */
.benefits-title{
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.benefits-info{
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Section 3 Our Team */
.team{
  background-color: #f4f4fd;
}

.team-title {
font-size: 36px;
line-height: 1.11;
text-align: center;
letter-spacing: 0.02em;
text-transform: capitalize;
color: #2e2f42;
}

.team-list {
background-color: #ffffff;

}

.team-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.team-position {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Section 4  Our Portfolio */
.portfolio-title{
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}

.portfolio-item-title {
    font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.portfolio-item-type {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

/* Footer */
.footer{
 background-color: #2e2f42;
}

.footer-studio{
 color: #f4f4fd;
}

.footer-paragraph {
  line-height: 1.5;
  color: #f4f4fd;
 letter-spacing: 0.02em;
}